<section id='cdf-section'>
    <h1>Assigning ranks</h1>
    <h2>using an Empirical Cumulative Distribution Function</h2>
    <p>
        Grade boundaries are better assigned using the ECDF to find
        the cuts, as it allows to easily find distinguishable groups
        of marks.
        <br/>
        We can then search for cuts that would make a student's grade
        the furthest from the next rank.
    </p>
    <app-ecdf-graph></app-ecdf-graph>
    <p>
        <b>Setting the score cuts for the marks.</b> There are four different
        eligible marks (A, B, C, D, E) that are assigned to an exam result
        based on the boundaries you set.
    </p>
    <app-mark-breaks></app-mark-breaks>
</section>