.liquidContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}
.liquidContainer > div{
    display: flex;
    width: calc(100% - 60px);
    height: calc(100% - 60px);
    border-radius: 10px;
    background-color: white;
}