<section id='exams-section'>
    <img id='classroom' src="/assets/Classroom-with-Kids-01.jpg"/>
    <a target='blank' href="https://www.vecteezy.com/free-vector/kids">Kids Vectors by Vecteezy</a>
    <h2>The exam results</h2>
    <p>
        Let's simulate the exam results. Each exam has an integer numeric value
        ranging from 0 to 100, each of which will be assigned a rank based on the
        cuts set on the <b>ECDF</b> section <i>(left side of the screen)</i>.
        <br/>
        <i class='text-muted'>
            A good cut value is the one that ensures the biggest gap with the
            next possible rank.
        </i>
    </p>
    <app-exams></app-exams>
</section>