#ecdf-graph-container{
    padding: 1em;
    max-width: 550px;
}
figure#ecdf-graph{
    position: relative;
}
figure#ecdf-graph svg{
    overflow: visible;
}
figure span{
    position: absolute;
}
figure span#x-label{
    position: absolute;
    bottom: -2em;
    left: 50%;
    transform: translateX(-40px);
}
figure span#y-label{
    position: absolute;
    left: -2em;
    top: 50%;
    transform: rotateZ(-90deg) translateY(-5.5em);
}
figure#ecdf-graph path{
    fill: none;
    stroke-width: 3px;
    stroke: #9381FF;
}
figure#ecdf-graph .xAxes path{
    stroke-width: 0;
}